.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: #171717;
}

.angelWrapper {
  margin-bottom: 20px;
}

.angelImage {
  margin-top: 5em;
  max-width: 100%;
  height: auto;
  width: 200px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #ff6600;
  text-shadow: 1px 1px 1px rgb(13, 114, 18), 0 0 1em rgba(0, 0, 255, 0), 0 0
    0.2em rgb(13, 61, 19);
}

.membersWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberImage {
  max-width: 100%;
  height: auto;
  width: 150px;
  border-radius: 10px;
}

.memberImage:hover {
  scale: 1.2;
  transition: all .2s ease-in-out;
}

.memberName {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff6600;
  margin-bottom: 180px;
  text-shadow: 1px 1px 1px rgb(13, 114, 18), 0 0 1em rgba(0, 0, 255, 0), 0 0
    0.2em rgb(13, 61, 19);
}
