.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.card{
    display: flex;
    flex-direction: column;
}

.mealName{
font-size: 0.5em;
}

.picture {
    width: 20vh;
}

.category {
    font-size: 0.5em;
}

.picture {
    font-size: 0.5em;
} 

.ingredient{
    font-size:0.5em;
}

