.cards {
  display: flex;
  flex-direction: column;
  border: solid var(--primary-color);
  width: 15vw;
  align-items: center;
  margin-bottom: 5vh;
  padding-bottom: 1em;
  border-radius: 5px;
  height: 15em;
}

.mealName {
  font-size: 1.2em;
  color: var(--secondary-color);
}

.picture {
  max-width: 15vw;
}

.category {
  font-size: 1em;
}

.picture {
  font-size: 1em;
}

.ingredient {
  font-size: 1em;
  list-style: none;
  position: relative;
}
.ingredient::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("../../../public/bullet.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.listIngredient {
  width: 13em;
  text-align: center;
  color: var(--primary-color);
}
.h2ingredient {
  color: var(--secondary-color);
  margin-bottom: 1em;
}
.eatButton{
    background-color: var(--secondary-color);
    border-radius: 5%;
    padding: 1em;
    margin-bottom: 1em;
    border: solid 2px var(--primary-color)

    
}
.eatButton:hover{
    background-color: var(--primary-color);
    color: whitesmoke;

}

.versoCard{
    width: 15em;
    height: 15em;
    padding-left: 1em;
}