* {
  font-style: bolder;
  font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: var(--secondary-color);
}

.navbarLinks {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-right: 3em;
}

.navbarLinks li {
  text-align: center;
}

.navbarLinks a {
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.navbarLinks a::after {
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  transition: width 0.4s ease;
}

.navbarLinks a:hover {
  color: #c6c42d;
}

.navbarLinks a:hover::after {
  width: 100%;
}

.burgerMenu {
  display: none;
  position: absolute;
  top: 0.5em;
  right: 3em;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100000000;
}

.menuIcon {
  width: 35px;
  height: auto;
}

@media (max-width: 768px) {
  .burgerMenu {
    display: block;
  }

  .navbarLinks {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    backdrop-filter: blur(9px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    background-color: var(--secondary-color);
  }

  .navbarLinks.open {
    transform: translateY(0);
  }

  .navbarLinks li {
    margin: 15px 0;
  }
}
