footer {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--light);
  text-align: center;
  padding: 20px 0;
  font-family: "Georgia", serif;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);

  .container_icon {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 1em;
  }

  .social_icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .social_icon:hover {
    transform: scale(1.5);
    filter: grayscale(0%);
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
  }
}
