* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Font Import */
/* @import url(''); */

/* Root Variables */
:root {
  --primary-color: whitesmoke;
  --secondary-color: #fd7e14;
  --dark: #001500;
  --light: #f8fdf0;
}

.pages {
  color: #316685;
  text-align: center;
  font-size: calc(1.5rem + 2vw);
}
