.container {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background: url(../../../public/CarrotWorld.webp) no-repeat center center;
  background-size: cover;
  margin-top: -2em;
}

.title {
  margin-top: 1em;
  font-size: 6rem;
  color: var(--primary-color);
}

.message {
  font-size: 3rem;
  color: var(--primary-color);
}

.link {
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary-color);
}

.carrot {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: auto;
  will-change: transform;
  pointer-events: none;
}

.carrot img {
  display: block;
  width: 100%;
  height: auto;
}

.blur {
  background-color: #fd7d14e3;
}
